/**Mixins, variables, colors, etc **/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\000035}}
.ib {
  display: inline-block !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\000039}}
.b {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\0000313}}
.cb {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\0000317}}
.fl {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\0000321}}
.fr {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\0000326}}
.mIframe {
  display: block;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\0000331}}
.i {
  display: inline !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\0000341}}
p {
  margin-top: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\0000336}}
.inliner * {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\0000349}}
.center {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\0000353}}
a {
  color: #005469;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\0000356}}
a:hover {
  color: #A8001C;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\0000389}}
.minecrafter .children {
  font-family: 'Minecrafter';
  font-weight: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\0000391}}
.minecrafter .children * {
  font-family: 'Minecrafter';
  font-weight: 100;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\0000396}}
.minecrafter {
  font-family: 'Minecrafter';
  font-weight: 100;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\00003100}}
.noPadNoMarg {
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\00003114}}
b {
  font-family: "helvetica nue", sans-serif;
  position: relative;
  top: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\00003120}}
h2, h3, h4 {
  font-family: "helvetica nue", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\00003124}}
h1 {
  font-family: "helvetica nue", sans-serif;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\00003129}}
p, a, span {
  font-family: "helvetica nue", sans-serif;
}

@font-face {
  font-family: 'Minecrafter';
  src: url("Minecrafter/minecrafter_3.eot");
  src: url("Minecrafter/minecrafter_3.eot") format("embedded-opentype"), url("Minecrafter/minecrafter_3.woff") format("woff"), url("Minecrafter/minecrafter_3.ttf") format("truetype"), url("Minecrafter/minecrafter_3.svg#MineCrafter3Regular") format("svg");
}

/** body styles **/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ourbenefactors\/Workspace\/Mineways\/global\/base\.scss}line{font-family:\00003143}}
body {
  margin: 0px 15% 0 15%;
}
